<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/error', model: @new_book %>
      <%= render 'books/books', book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-user-show">
        <tr>
          <td><%= attachment_image_tag @user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg"%></td>
          <td><%= link_to @user.name, user_path(@user) %></td>
          </td>
          <td><%= link_to @book.title %></td>
          <td><%= @book.body %></td>
          <% if @book.user_id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success" %></td>
            <td><%= link_to "Destroy",book_path(@book), method: :delete, class:"btn btn-danger" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>